body { 
    background-color: darkslategrey; /*Hintergrundfarbe*/
    color: black;   
    display: flex; 
    align-items: center; /*Zentrieren flex und zenter machen das man von rechts nachlinks scrollt statt von oben nach unten.*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.text {color: black;
    text-align: center; 
font-size: 100%;}
.title{color: black;
    
    font-size: 250%;} /*hier sind Schriftgrössen und Bildgrössen definiert*/
.title2
{color: black;
    text-align: center; 
    font-size: 200%;}
.title3
{color: black;
    text-align: center; 
    font-size: 150%;}
.bildunterschrift
{color: black;
    text-align: center; 
    font-size: 90%;}
    
#Bild1{
    width: 50%;
}
#Bild2{
    width: 12.5%;
}
#Bild3{
    width: 200%;
}
#Bild4{
    width: 200%;
}
#Bild5{
    width: 50%;
}
#Bild6{
    width: 25%;
}
#Bild7{
    width: 50%;
}
#Bild8{
    width: 120%;
}
#titel{
    border-width: 10% ;
}

