body { 
    background-color: darkslategrey;
    display: flex;
    align-items: center;
      
    font-family: Arial, Helvetica, sans-serif;
}
#Text {color: black;
    text-align: center; 
font-size: 100%;}
#title{color: black;
    
    font-size: 250%;}
#title2
{color: black;
    text-align: center; 
    font-size: 200%;}
#title3
{color: black;
    text-align: center; 
    font-size: 150%;}
#Bildunterschrift
{color: black;
    text-align: center; 
    font-size: 90%;}
